/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    margin: 0;
}

a {
    text-decoration: none;
}

.gallery {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
}

.gallery li {
    flex: 1;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.gallery li:last-child {
    border-right: none;
}

.gallery li:nth-child(1) {
    background: url(img/photo1.jpg) no-repeat center center;
}

.gallery li:nth-child(2) {
    background: url(img/photo2.jpg) no-repeat center center;
}

.gallery li:nth-child(3) {
    background: url(img/photo3.jpg) no-repeat center center;
}

.gallery li:nth-child(4) {
    background: url(img/photo4.jpg) no-repeat center center;
}

.gallery li:nth-child(5) {
    background: url(img/photo5.jpg) no-repeat center center;
}

.gallery:hover li {
    flex: 1;
}

.gallery li:hover {
    flex: 2;
}

.content {
    position: absolute;
    color: #fff;
    text-align: center;
    height: 100%;
    top: 35%;
    transition: 0.5s;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.box {
    margin: 0 auto;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.box img {
    transform: scale(0.9);
    transform-origin: 50% 50%;
    height: 8rem;
}

.content .reserve {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    width: 100%;
}

.gallery li:hover .content {
    bottom: 0;
    transition-delay: 0.5s;
}

.gatelogo {
    position: absolute;
    z-index: 1000;
    background-color: #da041c;
    height: 5%;
    text-align: center;
    display: block;
    bottom: 0;
    width: 100%;
}

.gatelogo img {
    width: auto;
    margin-top: 0.5%;
}